body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* general tags and common use css */
a {
  text-decoration: none;
}

input, textarea {
  outline: none;
  border: none;
  width: 100%;
}

select {
  /* reset */   
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.list-group-item:hover{
  background: lightgrey;
}

.list-group-item {
  outline: none;
  border: none;
}

.dndItem {
  list-style-type: none;
}

.ntbkTextarea{
min-height:150px;
max-height: 280px;
overflow-x: scroll; 
}

.container-fluid {
  height: 100vh;
  background-color: #e9ecef;
}  

.btn {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  padding: 0;
  box-shadow: none;
}
.btn:hover{
  background: lightgrey;
}
.btn:focus{
  box-shadow: none;
}

/* popup */
.popup-offsetBackground {
  height: 100vh;   
  position: fixed;
  top: 0px;
  background: black;
  z-index: 3;
  opacity:0.7;    
}
.popup-background{
  z-index: 5;
}

.submit-btn {
  background: #0d6efd;
  color:white !important;  
  border-radius: 8px !important;
  z-index: 12; 
}
.submit-btn:hover {
  opacity: 0.9;
  background: #0d6efd;
}

.submit-btn-font {
  font-weight: 700;
}

.signupBtn, .createAccBtn, .signAllOutBtn {
  /* background: #0d6efd; */
  color:white !important;  
  border-radius: 8px !important;
  border: none;
}

/* Account popup inputs */

.account-signup-N-login {
  border:1.5px solid #adb5bd!important;
  /* background: #e9ecef; */
  border-radius: 6px;
  height:54px;
}

.first-last-name {
  width:230px;
}
.birthday-select{
  width:150px;
  background: none;
  outline:none;
  border:none;
}

.select-arrowDown{
  position: absolute;
  right: 12px;
  top: 12px;   
  color:black;
  z-index: -1;
}

/* banner */
.banner {
  height: 60px;
  width: 100%;
  position: fixed;
  background: white;
  z-index: 2;
}


/*Notebook more */
.ntbkMore {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 80px;
  /* z-index: 1; */
}
/* using navigation instead of nav to not to mess up with bootstrap nav  */
.navigation {
  top: 80px;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  z-index: 1;
}
.navigation::-webkit-scrollbar {
  width: 8px;   
} 
.navigation:hover::-webkit-scrollbar-track {
  background-color: #e9ecef; 
  transition-delay: 3s; 
  transition-property: background-color;   
}

.navigation:hover::-webkit-scrollbar-thumb {
  transition-delay: 3s; 
  transition-property: background-color; 
  background-color: #aaa;    
  border-radius: 20px; 
  transition-delay: 1s;   
}  

.main {
  background: #e9ecef;
  position: absolute;
  /* top: 80px; */
  /* overflow: auto; */
}
/* 
.main::-webkit-scrollbar {
  width: 0px;   
} 
.main::-webkit-scrollbar-track {
  background-color: none; 
  transition-delay: 3s; 
  transition-property: background-color;   
}

.main::-webkit-scrollbar-thumb {
  transition-delay: 3s; 
  transition-property: background-color; 
  background-color: none;    
  border-radius: 20px; 
  transition-delay: 1s;   
}   */

/* .main::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}

.main::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
} */

/* complementary section */
.complementary {
  top: 90px;
  right: 0px;
  bottom: 0;
  position:fixed;
  padding-right: 8px; 
}

.comContent{
  max-height: 100vh;
  overflow-y: auto;
}
.comContent::-webkit-scrollbar, .ntbk-popup-segment-middle::-webkit-scrollbar {
  width: 8px;   
} 
.comContent:hover::-webkit-scrollbar-track, .ntbk-popup-segment-middle:hover::-webkit-scrollbar-track {
  background-color: #e9ecef; 
  transition-delay: 3s; 
  transition-property: background-color;   
}

.comContent:hover::-webkit-scrollbar-thumb, .ntbk-popup-segment-middle:hover::-webkit-scrollbar-thumb {
  transition-delay: 3s; 
  transition-property: background-color; 
  background-color: #aaa;    
  border-radius: 20px; 
  transition-delay: 1s;   
} 

.ntbkMain::-webkit-scrollbar {
  width: 8px;   
} 
.ntbkMain:hover::-webkit-scrollbar-track {
  background-color: #e9ecef; 
  transition-delay: 3s; 
  transition-property: background-color;   
}

.ntbkMain:hover::-webkit-scrollbar-thumb {
  transition-delay: 3s; 
  transition-property: background-color; 
  background-color: #aaa;    
  border-radius: 20px; 
  transition-delay: 1s;   
}  



/* set z-index -1 so it will stay under other elements */

.footer {
  position: fixed;
  bottom: 80px;
}
.complementaryBar {
  position: fixed;
  top:80px;
}

/* Loader */

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: white !important;
  /* background: var(--redux-color); */
  background: -moz-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  /* background: var(--redux-color); */
  background:blue;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Error box */

.error-box, .birthday-error-box {
  height: 50px;
  position: absolute;
  right: 30px;
  left: 30px;
  top: 83px;
  background:white;
  border: 1.6px solid black;
  z-index: 5; 
}


.name-first-last {
  right: 15px !important;
  left: 10px !important;
  top: 66px !important;
}

.birthday-error {
  top: 160px !important;
}
.error-box:after, .error-box:before {
  position: absolute;  
  content: "";
  width: 0; 
  height: 0; 
  top: -10px;
  left: 20px;
}


.error-box:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /* border-bottom: 10px solid red; */
  border-bottom: 10px solid black;

}
.error-box:after {
  margin-top: 2.2px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.birthday-error-box {
  top: 28px !important;
}

.birthday-error-box:after, .birthday-error-box:before {
  position: absolute;  
  content: "";
  width: 0; 
  height: 0; 
  top: 48px;
  left: 20px;
}

.birthday-error-box:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /* border-top: 10px solid red; */
  border-top: 10px solid black;

}
.birthday-error-box:after {
  margin-top: -2.7px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

/* Ntbks-chapters-topcis */

.text-display {
  white-space: pre-line;
}

/* topic in main edited */
.topiclist-box-edited {
  box-shadow: 0px 0px 2px 0.8px blue;
  border: 1px solid blue;
  margin: 3px;
}

.offset-topiclist-box-edited {
  border: 1px solid #e9ecef; 
  margin: 0px 3px;
  margin: 3px;
}
.ntbkTitle-divHeight {
  height: 40px;
}
.ntbkTitle-edited-input {
  border: none;
  outline: none;
  font-weight: 600;
  line-height: 1.2;
  font-size: calc(1.3rem + .6vw);
  color: #6e6e6e;
}

.chapTitle-edited-input {
  border: none;
  outline: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  color: #6e6e6e;  
}
.topicTitle-edited-input {
  outline: none;
  border: none;
  font-weight: 500 !important;
  color: #6e6e6e;   
}
.topicContent-edited-input {
  outline: none;
  border: none;
  white-space: pre-line!important;
  color: #6e6e6e;
} 

