.login-bg {
    background: #e9ecef;
    z-index: 2;
}

.login-box {
    width:700px;
    height:520px;
    background:white;
    box-shadow: 0px 0px 5px 0.7px #6c757d;
    border-radius: 8px;    
}

.login-segment-top {
    height:110px
}

.login-segment-middle {
    margin:auto
}

.login-segment-bottom {
    border:1px solid;
    height:60px;
    position: absolute;
    bottom:0px;
    background:lightgray
}

.complementary-login-segment-btns {
    position: absolute ;
    left: 12px ;
    bottom: 16px
}

.complementary-btns {
    color: black !important;
    background: none !important;
    border: none;
    border-radius: 8px;
}

.complementary-btns:hover {
    background: lightgray!important;
}


/* Login */


.accLoginListBox {
    max-height: 180px;
    overflow-y: scroll;
}
.accLoginListBox::-webkit-scrollbar {
    width: 8px;   
} 
.accLoginListBox:hover::-webkit-scrollbar-track {
    background-color: #e9ecef; 
    transition-delay: 3s; 
    transition-property: background-color;   
}

.accLoginListBox:hover::-webkit-scrollbar-thumb {
    transition-delay: 3s; 
    transition-property: background-color; 
    background-color: #aaa;    
    border-radius: 20px; 
    transition-delay: 1s;   
}  

